<div class="finance-container">
    <div class="container">
        <!-- Banner -->
        <div class="banner text-center mb-2">
            <small>Essa é sua área de finanças</small>
            <h2>DEPoSITE, RESGATE E VEJA SEU HISTÓRICO DE TRANSAÇÕES</h2>
        </div>
        <hr>

        <div class="account-info row align-items-center mb-3">

            <!-- Avatar e Informações -->
            <div class="col-lg-8 col-md-6 col-12 mb-3">
                <div class="profile row align-items-center">
                    <div class="img-content col-lg-2 col-md-6 col-12 text-center">
                        <img [src]="'../../assets/imgs/User.png'" alt="Avatar" class="user-avatar">
                    </div>
                    <div class="info-and-prof col-lg-9 col-md-6 col-12">
                        <h4><strong>Deposite ou solicite seu resgate</strong> 📈</h4>
                        <p>Os resgastes demoram até 48h úteis para serem aprovados.</p>
                        <small>Membro desde 2022.</small>
                    </div>
                </div>
            </div>

            <!-- Cartão de Saldo -->
            <div class="col-lg-2 col-md-6 col-12 mb-3">
                <div class="card-cash balance card-small">
                    <span class="add-icon">+</span>
                    <div class="balance-img">
                        <img [src]="'../../assets/imgs/Money.png'" alt="Money" class="icon">
                    </div>
                    <p class="card-title">SALDO</p>
                    <hr>
                    <p class="value text-success">
                        <small class="symbol">R$</small> <span>{{ saldo.toFixed(2).replace('.', ',') }}</span><span
                            class="uni">reais</span>
                    </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-12 mb-3">
                <div class="card-cash tradecoins card-small">
                    <span class="add-icon">+</span>
                    <div class="tradecoins-img">
                        <img [src]="'../../assets/imgs/Coin.png'" alt="Coin" class="icon">
                    </div>
                    <p class="card-title">TRADECOINS</p>
                    <hr>
                    <p class="value text-warning">
                        <small class="symbol">T$</small> <span>{{ (tradeCoins / 1000).toFixed(3) }}</span>
                        <span class="uni"> mil</span>
                    </p>
                </div>
            </div>

        </div>
        <hr>
        <!-- Ações -->
        <div class="actions row">
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <div class="card card-cash  text-center">
                    <h4>DEPOSITAR</h4>
                    <hr>
                    <div class="wrapper-depositar p-3">
                        <div class="row mb-3">
                            <div class="col-6 get-pix">
                                <input type="number" [(ngModel)]="valorDeposito"
                                    class="form-control mb-2 inputs-myaccount" placeholder="Valor a depositar">
                                <button class="btn btn-primary w-100 myaccount-btn" (click)="depositar()">Gerar
                                    Pix</button>
                            </div>
                            <div class="col-6 qr-code d-flex">
                                <img [src]="'../../assets/imgs/QRCode.png'" alt="Qrcode" class="qr-code mx-auto">
                                <button class="btn-qr myaccount-btn">Copiar código</button>
                            </div>
                        </div>
                        <div class="info-text">
                            <p>Este QR code expira em 30 minutos. Ao realizar o pagamento, você será informado por
                                e-mail</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <div class="card card-cash p-3 text-center">
                    <h4>RESGATAR</h4>
                    <hr>
                    <p>Valor que deseja resgatar via PIX</p>
                    <div class="wrapper-resgatar p-3">
                        <input type="text" [(ngModel)]="valorResgate" class="form-control mb-2 inputs-myaccount"
                            placeholder="Valor que deseja resgatar via PIX">
                        <select class="form-control mb-2 inputs-myaccount">
                            <option value="">Selecione sua chave PIX</option>
                            <option value="cpf">CPF</option>
                            <option value="email">E-mail</option>
                            <option value="telefone">Telefone</option>
                        </select>
                        <button class="btn btn-danger w-100 myaccount-btn" (click)="resgatar()">Solicitar
                            Resgate</button>
                    </div>
                    <div class="info-text mt-3">
                        <p>As transferências são aprovadas e realizadas em até 48h úteis. A conta destino que recebeu o
                            resgate deve ser vinculada ao mesmo CPF/CNPJ do seu cadastro.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-12 mb-3">
                <div class="card card-cash p-3 text-center">
                    <h4>CUPOM</h4>
                    <hr>
                    <p>Insira o código abaixo para resgatar seu benefício</p>
                    <div class="wrapper-cupom mb-3">
                        <input type="text" [(ngModel)]="codigoCupom" class="form-control mb-2 inputs-myaccount"
                            placeholder="Insira o código">
                        <button class="btn w-100 myaccount-btn valid" (click)="validarCupom()">Validar</button>
                    </div>
                    <div class="info-text">
                        <p>O valor creditado será descontado no seu próximo lucro.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Extrato -->
        <div class="extrato mt-4">
            <div class="container rounded">
                <h4 class="extrato-title">Extrato</h4>
                <div class="row justify-content-start">
                    <div class="col-md-4 mb-3"> <select [(ngModel)]="filtro" (change)="filtrarTransacoes()"
                            class="form-select">
                            <option value="">Selecione pelo tipo</option>
                            <option value="todos">Todos</option>
                            <option value="deposito">Depósitos</option>
                            <option value="resgate">Resgates</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3"> <select [(ngModel)]="periodo" (change)="filtrarTransacoes()"
                            class="form-select">
                            <option value="">Selecione por período</option>
                            <option value="dia">Dia</option>
                            <option value="mes">Mês</option>
                            <option value="periodo">Período</option>
                        </select>
                    </div>
                </div>
                <div class="table-container rounded">
                    <div class="table-responsive rounded">
                        <table class="table table-dark table-extrato">
                            <thead>
                                <tr>
                                    <th>Data da transação</th>
                                    <th>Valor</th>
                                    <th>Saldo</th>
                                    <th>Informação adicional</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transacao of extratoFiltrado">
                                    <td>{{ transacao.data }}</td>
                                    <td 
                                        [ngClass]="{ 'text-success': transacao.valor > 0, 'text-danger': transacao.valor < 0 }">
                                        {{ transacao.valor > 0 ? '+' : '' }}{{ transacao.valor }}
                                        <span *ngIf="exibirSimbolo(transacao); else exibirTS">
                                            R$
                                          </span>
                                          <ng-template #exibirTS>
                                            <span>
                                              T$
                                            </span>
                                          </ng-template>
                                    </td>
                                    <td>R$ {{ transacao.saldo.toFixed(2).replace('.', ',') }}</td>
                                    <td>{{ transacao.informacao }}</td>
                                    <td>{{ transacao.tipo }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>